#guestbook .form-name {
    padding: 10px;
}

#guestbook .form-password {
    padding: 10px;
}

#guestbook .form-content {
    padding: 10px;
}

#guestbook .form-content #contents {
    width: 253px;
    height: 400px;
    resize: none;
}

#guestbook .form-submit {
    width: 253px;
    margin-left: 10px;
    margin-bottom: 30px;
}

#guestbook .form-submit .btn-submit {
    width: 100%;
}

#guestbook .view-list {
    padding-top: 10px;
    padding-left: 50px;
}

#guestbook .view-list .view-list-header {
    margin: 10px;
}

#guestbook .view-list .view-list-body {
    margin-left: 10px;
    margin-bottom: 30px;
}