{% extends '../base.html' %}
 {% block csslink %}
<link href="/assets/css/board.css" rel="stylesheet" type="text/css">
{% endblock %}

	{% block content %}
			<div id="board">
				<form id="search_form" action="" method="post">
					<input type="text" id="kwd" name="kwd" value="">
					<input type="submit" value="찾기">
				</form>
				<table class="tbl-ex">
					<tr>
						<th>번호</th>
						<th>제목</th>
						<th>글쓴이</th>
						<th>조회수</th>
						<th>작성일</th>
						<th>&nbsp;</th>
						<th></th>
					</tr>
					{% for board in board_list %}
					<tr>
						<td>{{ forloop.revcounter }}</td>
						<td><a href="/board/view?no={{board.id}}&search={{request.GET.search}}&page={{request.GET.page}}">{{ board.title }}</a></td>
						<td>{{ board.user.name }}</td>
						<td>{{ board.hit }}</td>
						<td>{{ board.regdate | date:'Y-m-d H:i:s'}}</td>
						{% if request.session.authuser.id == board.user.id %}
							<td><a href="/board/delete?no={{board.id}}" class="del">삭제</a></td>
						{% endif %}
						<td><a href="" class="replyBoard">답글</a></td>
					</tr>
					{% endfor %}
				</table>
				<!-- pager 추가 -->
				<div class="pager">
					<ul>
						<li><a href="">◀</a></li>
						<li><a href="">1</a></li>
						<li class="selected">2</li>
						<li><a href="">3</a></li>
						<li>4</li>
						<li>5</li>
						<li><a href="">▶</a></li>
					</ul>
				</div>
				<!-- pager 추가 -->
				<div class="bottom">
						<a href="" id="new-book">글쓰기</a>
				</div>
			</div>
	{% endblock %}

	{% block js %}
	<script>
		$("#new-book").click(function(){
			{% if 'authuser' not in request.session %}
				var ans = confirm("로그인 하시겠습니까?");
				if(ans === true){
					window.location.href="/user/loginform";
					return false;
				}
				return;
			{% else %}
				window.location.href="/board/write?search={{request.GET.search}}&page={{request.GET.page}}";
				return false;
			{% endif %}
		});
	</script>
	{% endblock %}